<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PKHeX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

    <userSettings>
        <PKHeX.Properties.Settings>
            <setting name="OT" serializeAs="String">
                <value />
            </setting>
            <setting name="TID" serializeAs="String">
                <value />
            </setting>
            <setting name="SID" serializeAs="String">
                <value />
            </setting>
            <setting name="Gender" serializeAs="String">
                <value />
            </setting>
            <setting name="GenderClr" serializeAs="String">
                <value />
            </setting>
            <setting name="build" serializeAs="String">
                <value>21012016</value>
            </setting>
            <setting name="release" serializeAs="String">
                <value>Nightly</value>
            </setting>
        </PKHeX.Properties.Settings>
    </userSettings>
</configuration>
